
#form-container {
	width: 400px;
	margin: 100px auto;
}

input[type=text],select {
    width: 90%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ff849c;
    box-sizing: border-box;
    font-size:16px;
}


.input-error {
	border: 1px solid red !important;
}

#event-date {
	display: none;
}

#create-event {
	background: none;
	width: 100%;
    display: block;
    margin: 0 auto;
    border: 2px solid #2980b9;
    padding: 8px;
    background: none;
    color: #2980b9;
    cursor: pointer;
}

button {
    color: #ff849c;
    padding: 6px 10px;
    border: solid #ff849c;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background: white;
}