body{
    height: 100%;
    background-color: transparent;
    position: relative;
    color: #ff849c;
    padding: 100px;
}

.centerdiv{
  position: relative;
  margin-right: auto; 
  margin-left: auto;
}
.gallery-title
{
    font-size: 36px;
    color: #ff849c;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #ff849c;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #ff849c;
    border-radius: 5px;
    text-align: center;
    color: #ff849c;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #ff849c;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #ff849c;

}
.btn-default:active .filter-button:active
{
    background-color: #ff849c;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
.resize{
    width: 365px;
    height: 365px;
}