body{
	background-color: black;
	min-height: 100%
}

.navigation{
	color: white;
	width:100%;
	background-color: black;
	margin-bottom: 10px;
}

.navigation td a{
    color: white;
    text-decoration: none;
}

.navigation td a:hover{
	color: pink;
}


.navigation > tr > td {
	margin:auto;
}

.navigation td {
	border: 10px black;
	max-width: 100%;
	vertical-align: bottom;
	text-align: center;
}


.logo{
	height: 100px;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.login{
	float:right;
	position: relative;
	bottom: auto;
}

footer, .copy-right{
	width:100%;
	bottom: 0px;
	
}

.copy-right > p {
	color: white;
	display: block;
	width: 200px;
	margin: auto;
}

