body, html {
    height: 100%;
    background-color: transparent;
    position: relative;
    color: #ff849c;

}

#contact{
   padding: 100px 200px 0px 200px;
}

input[type=text], select, textarea, input[type=email], input[type=tel], input[type=reset] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ff849c; /* Pink border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-bottom: 8px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input, textarea {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgba(255, 255, 255, 0.7);
    color: #ff849c;
    padding: 6px 10px;
    border: solid #ff849c;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.7);
    transform: translateY(4px);
}
/* Add a background color and some padding around the form */

h1, p{
  text-align: center;
  padding: 20px 100px 0px 100px;
}

input[type=button] {
    background-color: rgba(255, 255, 255, 0.7);
    color: #ff849c;
    padding: 6px 10px;
    border: solid #ff849c;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255,0.5)), url("../assert/011.jpg");
    background-size: 100% 110%;
    margin: 10px;
}