.container{
  display: flex;
  width: 100%;
  max-height: 100%;
  color:white;
}

.flex-item {
    margin: 10px;
}

.left-half {
  flex:1;
}

.right-half {
  flex:1;
}

.form-area
{
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	}

.butcherform{
	color:white;
}