body, html {
    height: 100%;
    background-color: transparent;
    position: relative;
    color: #ff849c;
    width: 100%;
}

.parallax {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.4)), url("../assert/homeback.jpg");
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
  width: 100%;
  padding: 100px;
  background: transparent;
  border-bottom: 1px solid #ccc;
  display: block;
  box-sizing: border-box;

}
.sections {
  width: 100%;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea,input[type=tel],input[type=email] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ff849c; /* Pink border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-bottom: 8px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: black;
}

input, textarea {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Style the submit button with a specific background color etc */
input[type=submit] {

    color: #ff849c;
    padding: 6px 10px;
    border: solid #ff849c;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.7);
    transform: translateY(4px);
}
/* Add a background color and some padding around the form */

h1, p{
  text-align: center;
  padding: 0px 100px 0px 100px;
}

input[type=button] {
    background-color: rgba(255, 255, 255, 0.7);
    color: #ff849c;
    padding: 6px 10px;
    border: solid #ff849c;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 0px 25px;
}

.contactform{
  padding: 50px 200px 0px 200px;
}

#service {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255,0.5)), url("../assert/001.jpg");
  min-height: 600px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo {
    position: relative;
    float: left;
    width:33.3%;
}

.pbutton {
  opacity: 1;
  display: block;
  width: 400px;
  height: 300px;
  transition: .5s ease;
  backface-visibility: hidden;
  padding: 5px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.photo:hover .pbutton {
  opacity: 0.7;
}

.photo:hover .middle {
  opacity: 1;
}

.caption {
  background-color: rgb(105,105,105);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#contact {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255,0.5)), url("../assert/011.jpg");
  min-height: 600px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

label {
  font-weight: bold;
}

.concepts {
  background: none;
  color: white;
}
.huge{
  padding-top: 150px;
  padding-left: 100px;
  color: white;

}

.hugep{
  font-size: 90px;
  text-align: left;
  font-family: 'Indie Flower', cursive;
  font-family: 'Righteous', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Concert One', cursive;
  font-family: 'Fredoka One', cursive;
  font-family: 'Love Ya Like A Sister', cursive;
  font-family: 'Fredericka the Great', cursive;
}

.smallp{
  font-size: 20px;
  text-align: left;
  font-family: 'Indie Flower', cursive;
  font-family: 'Righteous', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Concert One', cursive;
  font-family: 'Fredoka One', cursive;
  font-family: 'Love Ya Like A Sister', cursive;
  font-family: 'Fredericka the Great', cursive;
}


#change, select{
    background-color: rgba(255, 255, 255, 0.7);
    color: #ff849c;
    padding: 6px 10px;
    border: solid #ff849c;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 0px 25px;

}

.youtube{
  margin: 0 auto;
}