body, html {
    height: 100%;
    background-color: transparent;
    position: relative;
    color: #ffb7c5;
}

.parallax {
    /* The image used */
    background-image: url("../assert/homeback.jpg");
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.active{

}

section {
  width: 100%;
  padding: 50px;
  background: transparent;
  border-bottom: 1px solid #ccc;
  min-height: 500px;
  text-align: center;
}

.nav-link{
    color: #ffb7c5;
}

.nav-item a {
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 1px solid transparent;
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  letter-spacing: 0.07em;
  margin-right: 4px;
}
.nav-item a .text {
  font-family: proxima-nova, monospace;
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.nav-item a:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #ffb7c5;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}
.nav-item .line {
  position: absolute;
  background: #ffb7c5;
}