body, html {
    height: 100%;
    background-color: transparent;
    position: relative;
    color: #ff849c;
}

p .detail{
	margin-left: 30px;
	margin-right: 30px;
}


h1 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: 10px;
}

.service {
	padding-top: 20px;
}