.halfdown{
    padding-top: 110px;
    position: fixed;
}

.serbutton{
    padding: 12px; /* Some padding */ 
    border: 1px solid #ff849c; /* Pink border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-bottom: 8px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */

}

#content{
	padding-top: 120px;
}

.mapdiv{
    padding-top: 30px;
}