body, html {
    height: 100%;
    background-color: transparent;
    position: relative;
    color: #ff849c;
}


p {
	font-family: 'Indie Flower', cursive;
	font-family: 'Lobster', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Roboto Slab', serif;
}

body, html {
    height: 100%;
    background-color: transparent;
    position: relative;
    color: #ff849c;
}


a {
    color: #ff849c;
}

a:visited {
    color: #ff849c;
}

a:hover {
    color: #FFFFE0;
}
